<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json"/>
		<add key="SampleArtifactory" value="https://artifactory.sample.tools/artifactory/api/nuget/nuget-virtual" />
  </packageSources>
</configuration>
